# ------------------------------------------------------------------------
# BitBucket Pipeline
# ------------------------------------------------------------------------
# Application Name:
#   - Profit Sharing
#
# ------------------------------------------------------------------------

pipelines:
  default:
    # Build Stage
    - step:
        name: "Run Profit Sharing Backend Automated Tests"
        runs-on:
          - windows
          - self.hosted
          - appt125
        script:
          - echo "Running Profit Sharing Backend Automated Tests"
          - cd .\src\services\tests\Demoulas.ProfitSharing.UnitTests\

          - dotnet add Demoulas.ProfitSharing.UnitTests.csproj package JUnitTestLogger --version 1.1.0
          - dotnet test Demoulas.ProfitSharing.UnitTests.csproj --configuration debug --logger "junit" -p:RestoreAdditionalProjectSources=https://api.nuget.org/v3/index.json
        artifacts:
          - tests/**/TestResults/*.* 