# ------------------------------------------------------------------------
# BitBucket Pipeline
# ------------------------------------------------------------------------
# Application Name:
#   - SMART Profit Sharing
#
# ------------------------------------------------------------------------

image: mcr.microsoft.com/dotnet/sdk:8.0

pipelines:
  default:
    - parallel:
        - step:
             name: Build and Test
             caches:
               - dotnetcore
             script:
               - REPORTS_PATH=./test-reports/build_${BITBUCKET_BUILD_NUMBER}
               - dotnet restore
               - dotnet build --no-restore --configuration Release
               - dotnet test --no-build --configuration Release --test-adapter-path:. --logger:"junit;LogFilePath=$REPORTS_PATH/junit.xml"
             artifacts:
               - test-reports/**
        - step:
            name: Security Scan
            script:
              # Run a security scan for sensitive data.
              # See more security tools at https://bitbucket.org/product/features/pipelines/integrations?&category=security
              - pipe: atlassian/git-secrets-scan:2.0.0
                variables:
                  SCAN_MODE: "full"
                  BITBUCKET_BRANCH: $BITBUCKET_BRANCH
                  BITBUCKET_REPO_SLUG: $BITBUCKET_REPO_SLUG

  pull-requests:   
    '**':
      - parallel:
         - step:
             name: Build and Test
             caches:
               - dotnetcore
             script:
               - REPORTS_PATH=./test-reports/build_${BITBUCKET_BUILD_NUMBER}
               - dotnet restore
               - dotnet build --no-restore --configuration Release
               - dotnet test --no-build --configuration Release --test-adapter-path:. --logger:"junit;LogFilePath=$REPORTS_PATH/junit.xml"
             artifacts:
               - test-reports/**
         - step:
            name: Lint the code
            caches:
              - dotnetcore
            script:
              - export SOLUTION_NAME=Demoulas.ProfitSharing
              - export REPORTS_PATH=linter-reports
              - dotnet new tool-manifest
              - dotnet tool install JetBrains.ReSharper.GlobalTools
              - dotnet tool restore
              - dotnet jb inspectcode ${SOLUTION_NAME}.sln --output="${REPORTS_PATH}/jb-${BITBUCKET_BUILD_NUMBER}.xml"
            artifacts:
              - linter-reports/**
         - step:
            name: Security Scan
            script:
              # Run a security scan for sensitive data.
              # See more security tools at https://bitbucket.org/product/features/pipelines/integrations?&category=security
              - pipe: atlassian/git-secrets-scan:2.0.0
                variables:
                  SCAN_MODE: "full"
                  BITBUCKET_BRANCH: $BITBUCKET_BRANCH
                  BITBUCKET_REPO_SLUG: $BITBUCKET_REPO_SLUG