# ------------------------------------------------------------------------
# BitBucket Pipeline
# ------------------------------------------------------------------------
# Application Name:
#   - SMART Profit Sharing
#
# ------------------------------------------------------------------------

definitions:
  steps:
    build-and-test: &build-and-test-backend
          name: Build and Test
          runs-on:
            - windows
            - self.hosted
            - appt125
          script:
            - $env:TEST_PROJECT_NAME = "Demoulas.ProfitSharing.UnitTests"
            - $env:REPORTS_PATH="../../../../test-reports/build_${BITBUCKET_BUILD_NUMBER}"
            - $env:NUGET_ORG="https://api.nuget.org/v3/index.json"
            - dotnet workload update --source $env:NUGET_ORG
            - dotnet restore src/services/tests/Demoulas.ProfitSharing.UnitTests/{$env:TEST_PROJECT_NAME}.csproj -p:RestoreAdditionalProjectSources=$env:NUGET_ORG
            - dotnet test src/services/tests/Demoulas.ProfitSharing.UnitTests/{$env:TEST_PROJECT_NAME}.csproj --configuration Release --test-adapter-path:. --logger:"junit;LogFilePath={$env:REPORTS_PATH}/junit.xml" -p:RestoreAdditionalProjectSources=$env:NUGET_ORG            
          artifacts:
            - test-reports/**
            - build/**

    lint-the-code: &lint-the-code
      name: Lint the code
      script:
        - export SOLUTION_NAME=Demoulas.Common
        - export REPORTS_PATH=linter-reports
        - dotnet new tool-manifest
        - dotnet tool install JetBrains.ReSharper.GlobalTools
        - dotnet tool restore
        - dotnet jb inspectcode ${SOLUTION_NAME}.sln --output="${REPORTS_PATH}/jb-${BITBUCKET_BUILD_NUMBER}.xml"
      artifacts:
        - linter-reports/**

    create-frontend-artifacts: &create-frontend-artifacts
      name: Create FrontEnd Artifacts      
      runs-on:
        - windows
        - self.hosted
        - appt125
      artifacts:
        - dist\**
      script:
        - $env:NPM = "C:\nvm\v20.4.0\npm.cmd"
        - cd .\src\UI
        -  install --legacy-peer-deps;
        - ${env:NPM} run build:${env:ENV}
        - Compress-Archive -Path "..\..\src\UI\build\*" -DestinationPath "..\..\dist\Demoulas.ProfitSharing.UI.$env:ENV.zip" -Force        


pipelines:
  branches:
    master:
      - parallel:
          - step: *build-and-test-backend
          - step: *lint-the-code
  
    develop:
      - parallel:
          - step: *build-and-test-backend
          - step: *lint-the-code

  pull-requests:
    '**':
      - parallel:
          - step: *build-and-test-backend
          - step: *lint-the-code
  
  custom:
    deploy_profitsharing:
      - variables: # https://bitbucket.org/blog/predefine-values-of-custom-pipeline-variables
          - name: ENV
            default: QA
            allowed-values:  # optionally restrict variable values
              - QA
              - UAT
              - Production
      - parallel:
          - step: *build-and-test-backend
          - step: *lint-the-code
      - parallel:
          - step:
             name: Compress API
             runs-on:
               - windows
               - self.hosted
               - appt125
             artifacts:
               - dist\**
             script: 
               - dotnet tool install Demoulas.Common.Build.Cli
               - Demoulas.Common.Build.Cli --buildid ${BITBUCKET_BUILD_NUMBER} --Branch ${BITBUCKET_BRANCH} --CommitHash ${BITBUCKET_COMMIT}
               - Compress-Archive -Path ./publishOutput/* -DestinationPath ./Demoulas.ProfitSharing.Api.zip -Force
          - step: *create-frontend-artifacts
