# ------------------------------------------------------------------------
# BitBucket Pipeline
# ------------------------------------------------------------------------
# Application Name:
#   - Profit Sharing
#
# ------------------------------------------------------------------------

pipelines:
  default:
    # Build Stage
    - step:
        name: "Run Profit Sharing Backend Automated Tests"
        runs-on:
          - windows
          - self.hosted
          - appt125
        script:
          - echo "Running Profit Sharing Backend Automated Tests"          

          - dotnet test .\src\services\tests\Demoulas.ProfitSharing.UnitTests\Demoulas.ProfitSharing.UnitTests.csproj --configuration debug --logger "junit;LogFilePath=..\..\..\..\TestResults" -p:RestoreAdditionalProjectSources=https://api.nuget.org/v3/index.json
        artifacts:
          - ./**/TestResults/**/*.xml