# ------------------------------------------------------------------------
# BitBucket Pipeline
# ------------------------------------------------------------------------
# Application Name:
#   - SMART Profit Sharing
#
# ------------------------------------------------------------------------

definitions:
  steps:
      build-and-test-backend: &build-and-test-backend
        name: Build and Test Backend API
        runs-on:
         - windows
          - self.hosted
        script:
          # Set environment variables
          - $env:TEST_PROJECT_NAME = "Demoulas.ProfitSharing.UnitTests"
          - $env:REPORTS_PATH = "../../../../test-reports/build_${BITBUCKET_BUILD_NUMBER}"
          - $env:NUGET_ORG = "https://api.nuget.org/v3/index.json"
          - $env:CUSTOM_NUGET = "https://custom.jfrog.io/artifactory/api/nuget/custom-nuget-virt"
          - $env:NUGET_AUTH_TOKEN = $env:JFROG_WORKSPACE_VARIABLE

           # Ensure the REPORTS_PATH directory exists
          - mkdir -Force -Path $env:REPORTS_PATH

           # Check if .NET 9 SDK is installed
          - $dotnetSdkInstalled = dotnet --list-sdks | Select-String "^9\."

           # Install .NET 9 SDK if not installed
          - if (-not $dotnetSdkInstalled) {
                Invoke-WebRequest -Uri "https://download.visualstudio.microsoft.com/download/pr/38e45a81-a6a4-4a37-a986-bc46be78db16/33e64c0966ebdf0088d1a2b6597f62e5/dotnet-sdk-9.0.101-win-x64.exe" -OutFile "$env:TEMP\dotnet-sdk-9.0.101-win-x64.exe";
               Start-Process -FilePath "$env:TEMP\dotnet-sdk-9.0.101-win-x64.exe" -ArgumentList "/quiet", "/norestart" -Wait;
             }

           # Configure NuGet sources
          - dotnet nuget add source $env:NUGET_ORG --name nuget.org
          - dotnet nuget add source $env:CUSTOM_NUGET --name custom-nuget --password $env:NUGET_AUTH_TOKEN

            # Run tests and generate JUnit reports
          - dotnet test src/services/tests/Demoulas.ProfitSharing.UnitTests/{$env:TEST_PROJECT_NAME}.csproj --configuration Release --test-adapter-path:. --logger:"junit;LogFilePath={$env:REPORTS_PATH}/junit.xml" -p:RestoreAdditionalProjectSources="$env:NUGET_ORG;$env:CUSTOM_NUGET"

        artifacts:
            - test-reports/**

   

    test-frontend: &test-frontend
          name:  Build and Test Frontend UI
          runs-on:
           - windows
           - self.hosted
          script:
           - $env:NPM = "C:\nvm\v20.4.0\npm.cmd"
          artifacts:
            - build/**
   
    create-api-artifacts: &create-api-artifacts
      name: Create API Artifacts      
      runs-on:
        - windows
        - self.hosted
      artifacts:
        - dist\**
      script:
        - dotnet tool update --global Demoulas.Common.Build.Cli
        - Write-Host ${env:BITBUCKET_BUILD_NUMBER}
        - Write-Host ${env:BITBUCKET_BRANCH}
        - Write-Host ${env:BITBUCKET_COMMIT}
        - Write-Host $(Get-Location)
        - Write-Host $(Get-ChildItem)
        - New-Item -ItemType Directory -Path "dist"
        
        - dotnet publish .\src\Services\src\Demoulas.ProfitSharing.Api -c Release -p:PublishProfile=FolderProfile -o .\publishOutput
        
        - Demoulas.Common.Build.Cli --buildid ${env:BITBUCKET_BUILD_NUMBER} --Branch ${env:BITBUCKET_BRANCH} --CommitHash ${env:BITBUCKET_COMMIT}
        - Copy-Item -Path ".buildinfo.json" -Destination ".\publishOutput\"
        
        - Compress-Archive -Path .\publishOutput\* -DestinationPath .\dist\Demoulas.ProfitSharing.Api.zip -Force

    create-frontend-artifact-qa: &create-frontend-artifact-qa
      name: Create FrontEnd Artifacts (QA)     
      runs-on:
        - windows
        - self.hosted
      artifacts:
        - dist\**
      script:
        - $env:NPM = "C:\nvm\v20.4.0\npm.cmd"
        - ${env:ENV} = "qa"
        - cd .\src\UI
        - |
            @"
            registry=https://demoulas.jfrog.io/artifactory/api/npm/demoulas-npm-virt/
            //demoulas.jfrog.io/artifactory/api/npm/demoulas-npm-virt/:_authToken=$env:JFROG_WORKSPACE_VARIABLE
            "@ | Out-File -FilePath .npmrc -Encoding ASCII
        - C:\nvm\v20.4.0\npm.cmd install --legacy-peer-deps;
        - C:\nvm\v20.4.0\npm.cmd run build:${env:ENV}
        
        - Demoulas.Common.Build.Cli --buildid ${env:BITBUCKET_BUILD_NUMBER} --Branch ${env:BITBUCKET_BRANCH} --CommitHash ${env:BITBUCKET_COMMIT}
        - Copy-Item -Path ".buildinfo.json" -Destination "..\..\src\UI\build"
        
        - Copy-Item -Path ".\src\web.config" -Destination "..\..\src\UI\build"
        - New-Item -Path "..\..\dist" -ItemType Directory
        - Compress-Archive -Path "..\..\src\UI\build\*" -DestinationPath "..\..\dist\Demoulas.ProfitSharing.UI.${env:ENV}.zip" -Force        

    create-frontend-artifact-uat: &create-frontend-artifact-uat
      name: Create FrontEnd Artifacts (UAT)     
      runs-on:
        - windows
        - self.hosted
      artifacts:
        - dist\**
      script:
        # Set environment variables
        - ${env:ENV} = "uat"

        # Navigate to the UI source directory
        - cd .\src\UI

        # Create and configure .npmrc file
        - |
            @"
            registry=https://demoulas.jfrog.io/artifactory/api/npm/demoulas-npm-virt/
            //demoulas.jfrog.io/artifactory/api/npm/demoulas-npm-virt/:_authToken=$env:JFROG_WORKSPACE_VARIABLE
            "@ | Out-File -FilePath .npmrc -Encoding ASCII

        # Install dependencies with legacy peer deps
        - C:\nvm\v20.4.0\npm.cmd install --legacy-peer-deps

        # Run the build process for the specified environment
        - C:\nvm\v20.4.0\npm.cmd run build:${env:ENV}

        - Demoulas.Common.Build.Cli --buildid ${env:BITBUCKET_BUILD_NUMBER} --Branch ${env:BITBUCKET_BRANCH} --CommitHash ${env:BITBUCKET_COMMIT}
        - Copy-Item -Path ".buildinfo.json" -Destination "..\..\src\UI\build"

        # Copy the web.config file to the build directory
        - Copy-Item -Path ".\src\web.config" -Destination "..\..\src\UI\build" -Force

        # Ensure the dist directory exists before compressing
        - if (!(Test-Path -Path "..\..\dist")) {
            New-Item -Path "..\..\dist" -ItemType Directory
            }

        # Compress the build output into a zip file in the dist folder
        - Compress-Archive -Path "..\..\src\UI\build\*" -DestinationPath "..\..\dist\Demoulas.ProfitSharing.UI.${env:ENV}.zip" -Force


    create-frontend-artifact-prod: &create-frontend-artifact-prod
      name: Create FrontEnd Artifacts (PROD)     
      runs-on:
        - windows
        - self.hosted
      artifacts:
        - dist\**
      script:
        - $env:NPM = "C:\nvm\v20.4.0\npm.cmd"
        - ${env:ENV} = "prod"
        - cd .\src\UI
        - ${env:NPM} install --legacy-peer-deps;
        - ${env:NPM} run build:${env:ENV}
        - Compress-Archive -Path "..\..\src\UI\build\*" -DestinationPath "..\..\dist\Demoulas.ProfitSharing.UI.$env:ENV.zip" -Force   
        
    upgrade-database: &upgrade-database
      name: Upgrade Database
      runs-on:
        - windows
        - self.hosted
      script:
        - echo "Upgrading Database..."
        - $env:NUGET_ORG="https://api.nuget.org/v3/index.json"
        - dotnet build .\src\services\src\Demoulas.ProfitSharing.Data.Cli\Demoulas.ProfitSharing.Data.Cli.csproj -p:RestoreAdditionalProjectSources=$env:NUGET_ORG -o .\output
        - $environment = $env:Environment
        - $action = $env:Action
        - $sourceSchema = ""
        - if (-not $environment) { $environment = "QA" }
        - if (-not $action) { $action = "upgrade-db" }
        
        - if ($environment -eq "QA") {
            $env:ConnectionStrings:ProfitSharing = $env:ConnectionStrings_ProfitSharing_QA;
            $sourceSchema = "PROFITSHARE";
          }

        - if ($environment -eq "UAT") {
            $env:ConnectionStrings:ProfitSharing = $env:ConnectionStrings_ProfitSharing_UAT;
            $sourceSchema = "PROFITSHARE_STAGING";
          }
        
        - .\output\Demoulas.ProfitSharing.Data.Cli $action --connection-name ProfitSharing --sql-file ".\src\database\ready_import\SQL copy all from ready to smart ps.sql" --source-Schema $sourceSchema



pipelines:
  branches:
    release:
      - parallel:
          - step: *build-and-test-backend
          - step: *test-frontend
      - parallel:
          - step: *create-api-artifacts
          - step: *create-frontend-artifact-qa          
           # Deployment Stage
      
      - step:
          name: "Application Deployment"
          runs-on:
            - windows
            - self.hosted
          deployment: QA
          trigger: "manual"     
          script:
            - echo "Deploying application..."
            - $env:API_SERVER_QA = "appt23d"            
            - powershell .\scripts\webDeploy.ps1 QA $env:API_SERVER_QA
      - parallel:
          - step: *upgrade-database
          - step: *create-frontend-artifact-uat
      - step:
          name: "Application Deployment"
          runs-on:
            - windows
            - self.hosted
          deployment: UAT
          trigger: "manual"     
          script:
            - echo "Deploying application..."
            - $env:API_SERVER_UAT = "appt24d"            
            - powershell .\scripts\webDeploy.ps1 UAT $env:API_SERVER_UAT
      #- step: *create-frontend-artifact-prod


    develop:
      - parallel:
          - step: *build-and-test-backend
          - step: *test-frontend

  pull-requests:
    '**':
      - parallel:
          - step: *build-and-test-backend
          - step: *test-frontend
  
  custom:
      profitsharing_database:
        - variables: # https://bitbucket.org/blog/predefine-values-of-custom-pipeline-variables
                  - name: Environment
                    default: QA
                    allowed-values: # optionally restrict variable values
                        - QA
                        - UAT                        
                  - name: Action
                    default: upgrade-db
                    allowed-values: # optionally restrict variable values
                        - upgrade-db
                        - drop-recreate-db
                        - import-from-ready                        
        - step: *upgrade-database
