# ------------------------------------------------------------------------
# BitBucket Pipeline
# ------------------------------------------------------------------------
# Application Name:
#   - SMART Profit Sharing
#
# ------------------------------------------------------------------------

definitions:
  steps:
    build-and-test: &build-and-test-backend
          name: Build and Test
          runs-on:
            - windows
            - self.hosted
            - appt125
          script:
            - $env:TEST_PROJECT_NAME = "Demoulas.ProfitSharing.UnitTests"
            - $env:REPORTS_PATH="../../../../test-reports/build_${BITBUCKET_BUILD_NUMBER}"
            - $env:NUGET_ORG="https://api.nuget.org/v3/index.json"
            - dotnet workload update --source $env:NUGET_ORG
            - dotnet restore src/services/tests/Demoulas.ProfitSharing.UnitTests/{$env:TEST_PROJECT_NAME}.csproj -p:RestoreAdditionalProjectSources=$env:NUGET_ORG
            - dotnet test src/services/tests/Demoulas.ProfitSharing.UnitTests/{$env:TEST_PROJECT_NAME}.csproj --configuration Release --test-adapter-path:. --logger:"junit;LogFilePath={$env:REPORTS_PATH}/junit.xml" -p:RestoreAdditionalProjectSources=$env:NUGET_ORG
            - powershell -File generateBuildInfo.ps1
          artifacts:
            - test-reports/**
            - build/**
            - publishOutput/**

    lint-the-code: &lint-the-code
      name: Lint the code
      caches:
        - dotnetcore
      script:
        - export SOLUTION_NAME=Demoulas.Common
        - export REPORTS_PATH=linter-reports
        - dotnet new tool-manifest
        - dotnet tool install JetBrains.ReSharper.GlobalTools
        - dotnet tool restore
        - dotnet jb inspectcode ${SOLUTION_NAME}.sln --output="${REPORTS_PATH}/jb-${BITBUCKET_BUILD_NUMBER}.xml"
      artifacts:
        - linter-reports/**


pipelines:
  branches:
    master:
      - parallel:
          - step: *build-and-test-backend
          - step: *lint-the-code
  
    develop:
      - parallel:
          - step: *build-and-test-backend
          - step: *lint-the-code

  pull-requests:
    '**':
      - parallel:
          - step: *build-and-test-backend
          - step: *lint-the-code
