{
  "openapi": "3.0.0",
  "info": {
    "title": "Profit Sharing API",
    "description": "API for managing profit sharing operations",
    "version": "1.0.0",
    "contact": {
      "name": "API Support",
      "email": "support@demoulas.com"
    }
  },
  "servers": [
    {
      "url": "https://api.demoulas.com"
    }
  ],
  "paths": {
    "/api/employees": {
      "get": {
        "operationId": "getEmployees",
        "tags": ["Employees"],
        "summary": "Get all employees",
        "description": "Retrieve a list of all employees",
        "responses": {
          "200": {
            "description": "Successfully retrieved employees",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Employee"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "post": {
        "operationId": "createEmployee",
        "tags": ["Employees"],
        "summary": "Create a new employee",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Employee created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Employee"
                }
              }
            }
          }
        }
      }
    },
    "/api/get-employee/{id}": {
      "get": {
        "operationId": "getEmployee",
        "tags": ["Employees"],
        "summary": "Get employee by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Employee found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Employee"
                }
              }
            }
          }
        }
      }
    },
    "/api/update_employee/": {
      "put": {
        "operationId": "updateEmployee",
        "tags": ["Employees"],
        "summary": "Update employee information",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Employee updated"
          }
        }
      }
    },
    "/api/distributions": {
      "get": {
        "operationId": "getDistributions",
        "tags": ["Distributions"],
        "summary": "Get distributions",
        "responses": {
          "200": {
            "description": "Distributions retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Employee": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "ssn": {
            "type": "string"
          }
        }
      },
      "EmployeeInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      }
    }
  }
}
