.pageWrapper {
    width: 100%;
    height: 100%;
    .pageLabel {
      font-size: 40px;
      text-align: center;
    }
  }
  
  .bannerBackground {
    background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 0.9) 60%,
      rgba(0, 212, 255, 1) 100%
    );
    color: #fff;
  }
  
  .ag-theme-material {
    --ag-grid-size: 3px;
    --ag-font-size: 0.8rem;
    // --ag-widget-horizontal-spacing: 200px;
  }
  