.pageWrapper {
  width: 100%;
  height: 100%;
}
.pageWrapper .pageLabel {
  font-size: 40px;
  text-align: center;
}

.bannerBackground {
  background: linear-gradient(180deg, #020024 0%, rgba(9, 9, 121, 0.9) 60%, #00d4ff 100%);
  color: #fff;
}

.ag-theme-material {
  --ag-grid-size: 3px;
  --ag-font-size: 0.8rem;
  /* --ag-widget-horizontal-spacing: 200px; */
}
