$main-padding: 20px;
$main-box-shadow: 5px;
$input-height: 22px;
$screenCutoff: 1200px;

// colors
$bannerBackground: rgb(104, 142, 215);
$windowBackground: #ccc;
$main-background: rgb(223, 234, 242);
$purple: rgb(66, 66, 143);
$headerBackground: rgb(230, 230, 230);
$blue: rgb(0, 0, 200);
$red: rgb(185, 30, 30);
$errors: #721c24;
$errors_bg: #f8d7da;
$errors_border: #f5c6cb;
$report_fonts: rgb(13, 2, 115);

$fontSizeSmall: 12px;
$fontSizeMedium: 16px;
$fontSizeLarge: 22px;

$inputPaddingLeft: 4px;
