.grid-cell {
  border: 1px solid grey;
  height: 20px;
}

.center-align .ag-header-cell-label {
  justify-content: center;
}

.center-align {
  text-align: center;
}

.right-align .ag-header-cell-label {
  justify-content: right;
}

.right-align {
  text-align: right;
}

.left-align .ag-header-cell-label {
  justify-content: left;
}

.left-align {
  text-align: left;
}

.ag-header-cell-resize::after {
  background-color: #babfc7;
}

.ag-cell {
  font-size: 14px;
}

.ag-header-cell {
  font-size: 14px;
  font-weight: bold;
  margin: 1px;
  background-color: #e8e8e8;
  color: rgb(0, 0, 0);
}

/* Applied to totals rows */
.ag-row-pinned {
  background-color: var(--ag-header-background-color, rgba (232, 232, 232, 1));
  border-top: 2px solid var(--ag-border-color, rgba(186, 191, 199, 1));
}

.ag-floating-bottom-container,
.ag-floating-top-container {
  font-weight: bold;
}

/* Theme specific color overrides */
.ag-theme-alpine {
  --ag-data-color: rgba(35, 31, 32, 1);
  --ag-header-background-color: rgba(232, 232, 232, 1);
  --ag-border-color: rgba(186, 191, 199, 1);
  --ag-header-foreground-color: #231f20;
}

/*
* START  editable grid styles
*
*/

.editable-grid .ag-cell:hover,
.editable-grid .ag-cell:focus {
  border: 1px solid var(--ag-input-focus-border-color, rgba(0, 158, 240, 0.4));
}

.editable-grid .ag-cell:focus {
  background-color: var(--ag-selected-row-background-color, rgba(0, 158, 240, 0.3));
}

.editable-grid .read-only-cell {
  background-color: rgba(186, 191, 199, 0.15);
}

.editable-grid .ag-checkbox-edit,
.editable-grid .ag-checkbox-cell {
  justify-content: center;
}

/*
* END  editable grid styles
*
*/
