.search-buttons {
  button {
    margin-right: 20px;
    border-radius: var(--borderRadius, 2px);
    background: var(--action-green-default, #2e7d32);
    border: none;
    display: flex;
    padding: 8px 22px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-feature-settings:
      “clig” off,
      “liga” off;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.46px;
    text-transform: uppercase;
  }
  .delete {
    color: var(--action-green-default, #2e7d32);
    background: none;
  }
  .reset {
    color: var(--action-green-default, #2e7d32);
    background: none;
    box-shadow: none;
    width: 69;
  }
  .reset:hover {
    background-color: #d3d3d3;
  }
  .spinner {
    min-width: 61px;
  }
}
